@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Lato", sans-serif;
}

.NavBar {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  z-index: 1;
}

.Logo {
  width: 200px;
  height: 100%;
}

.Logo > h3 {
  font-size: 24px;
  font-weight: 700;
  color: #f2a74a;
  line-height: 80px;
}

.LogonButton {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}

.LogonButton > .LoginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background: #37d09d;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.TextSection {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.TextSection .Text {
  width: 50%;
}

.TextSection .Text span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 75px;
  color: #016342;
}

.TextSection .Text h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 75px;
  color: #f2a74a;
  margin-top: -20px;
}

.TextSection .Text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #016342;
    margin-top: 20px;
}

.TextSection .Image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.TextSection .Image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.HeroBtn {
  position: relative;
  width: 200px;
  height: 50px;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 32px;
  top: 50%;
  margin-top: 50px;
  margin-left: -50px;
  transform: translateY(-50%);
  background: #37d09d;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #2c9e7e;
}


@media (max-width: 767px) {
    .TextSection {
      flex-direction: column;
      padding: 0 16px;
      margin-top: 150px;
    }
  
    .TextSection .Text {
      width: 80%;
    }
    .TextSection .Text span {
      font-size: 24px;
      line-height: 30px;
    }
    
    .TextSection .Text h2 {
      font-size: 48px;
      line-height: 60px;
      margin-top: -15px;
    }

    .TextSection .Text p {
      font-size: 18px;
      line-height: 24px;
      margin-top: 15px;
    }


    .TextSection .Image {
      width: 100%;
      justify-content: center;
    }
  
    .HeroBtn, .btn {
      width: 60%;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      margin-top: -40px;
      margin-left: -30px;          
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .TextSection .Text {
      width: 60%;
    }
  
    .TextSection .Image {
      width: 40%;
    }
  
    .HeroBtn,
    .btn {
      width: 180px;
      height: 45px;
      font-size: 18px;
      line-height: 45px;
      margin-top: 30px;
    }
  }
  